body {
  padding-top: 80px;
  overflow-y: scroll;
  background-color: #fffbf4;
}

.dish-image {
  height: 200px;
  width: 200px;
  max-height: 30vw;
  max-width: 30vw;
}

.cat-image {
  height: 100px;
  width: 100%;
}

.logo-icon {
  height: 40px;
  box-shadow: 0px 0px 20px #fffbf4;
  border-radius: 20%;
}