body {
  background-color: #fffbf4;
}

.dish-image {
  height: 200px;
  width: 200px;
  max-height: 30vw;
  max-width: 30vw;
}

.cat-image {
  height: 100px;
  width: 100%;
}

.logo-icon {
  height: 40px;
  box-shadow: 0px 0px 20px #fffbf4;
  border-radius: 20%;
}

.text-shadow {
  text-shadow: 6px 8px 6px rgba(0, 0, 0, 0.226);
}

.box-shadow {
  box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.226);
}

.sidebar {
  overflow-y: auto;
  height: calc(100vh - 100px);
}

@media (max-width: 767.98px) {
  .sidebar {
    height: 100%;
  }
}

.sidebar-container {
  margin-top: 80px;
  padding: 20px;
  padding-top: 0px;
}

@media (max-width: 767.98px) {
  .sidebar-container {
    margin-top: 0;
  }
}

.dishesarea {
  overflow-y: auto;
  height: 100vh;
  padding-top: 80px;
}

@media (max-width: 767.98px) {
  .dishesarea {
    padding-top: 60px;
  }
}